body {
    background-color: #f0f0f0;
}

/* La primera forma de dar estilo a un elemento es por su etiqueta */
p {
    color: rgb(47, 54, 183);
    font-size: 30px;
}

/* La segunda forma de dar estilo a un elemento es por su clase */
/* .class */
.paragraph {
    color: #ff0000;
    font-size: 30px;
}

/* La tercera forma de dar estilo a un elemento es por su id que puede ser similar a un clase pero solo se puede usar una vez */
/* #id */
#pars {
    color: #00ff00;
    font-size: 30px;
}