.main-nav {
    margin-top: 10px;
    list-style: none; /* Eliminar los puntos de la lista */	
    padding-left: 0; /* Este padding elimina el espacio que se genera por defecto en las listas */
    background-color: #ada938; /* Cambiar el color de fondo de la lista */
}
.main-nav__item {
    display: inline-block; /* Hacer que los elementos de la lista se muestren en línea */
    margin-right: 10px; /* Agregar un poco de espacio entre los elementos de la lista */
}
.main-nav__item a {
    color: #fff; /* Cambiar el color del texto a blanco */
    padding: 5px 10px; /* Agregar un poco de espacio alrededor del texto */
    border-radius: 2px; /* Agregar bordes redondeados al botón */
    text-decoration: none; /* Eliminar el subrayado del texto */
}

/* PSEUDO-CLASES */

/* 1. Pseudo-clase hover la cual se activa cuando el mouse está sobre el elemento */
.main-nav__item a:hover {
    color: darkblue;
}

/* 2. Pseudo-clase active la cual se activa cuando el elemento está seleccionado */
.main-nav__item a:active {
    color: #61852c; /* Cambiar el color de fondo del botón */
}

/* 3. Pseudo-clase focus la cual se activa cuando el elemento está seleccionado similar a active */
.main-nav__item a:focus {
    color: #7d4715; /* Cambiar el color de fondo del botón */
}

/* PSEUDO-ELEMENTOS */
/* 1. Pseudo-elemento after el cual se utiliza para agregar contenido después del contenido del elemento */
.main-nav__item a::after {
    content: ' ►'; /* Agregar una flecha después del texto */
}
/*2. Pseudo-elemento first-letter el cual selecciona la primera letra de un elemento */
.main-nav__item a::first-letter {
    font-size: 30px; /* Aumentar el tamaño de la primera letra */
    color: #5c479f; /* Cambiar el color de la primera letra */
}